@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html,
body {
    margin: 0;
    padding: 2em;
}

body {
    padding-top: 1em;
    background-image: url("./img/shimmering-water.gif");
    /* background: black; */
    background-size: cover;
    background-repeat: space;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    color: white;
    text-decoration: underline;
    font-size: 35px;
    /* background-color: grey; */
}

h4 {
    color: white;
    text-decoration: underline;
}

h3 {
    color: white;
    text-decoration: underline;
    font-size: 30px;
}

p {
    font-size: 10px;
}

canvas {
    background-image: url("./img/water.gif");
    background-color: black;
    min-width: 100%;
    max-height: 480px;
    border-radius: 8px;
    box-shadow: 5px 10px rgba(192, 192, 192, .4);
}

#container {
    max-width: 80em;
    height: 100;
    background: transparent;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr, .5fr, .25fr;
    grid-template-columns: .25fr, .5fr, .5fr, .5fr, .25fr;
    grid-template-areas: "left-side top-left top-left top-right right-side" "left-side game game game right-side" "left-side controls directions directions right-side";
}

#beerpour1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    visibility: hidden;
}

#beerpour {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    visibility: hidden;
}

#top-left,
#top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px rgba(192, 192, 192, .4);
    text-shadow: 2px 6px rgba(192, 192, 192, .6);
    max-height: 150px;
}

#top-left {
    grid-area: top-left;
    background-color: rgba(240, 128, 128, .6);
    border-radius: 8px;
    min-width: 648px;
}

#left-side {
    grid-area: left-side;
    background-color: rgba(240, 128, 128, .6);
    border-radius: 8px;
    box-shadow: 5px 10px rgba(192, 192, 192, .4);
    min-width: 150px;
    max-width: 150px;
}

#top-right {
    grid-area: top-right;
    background-color: rgba(240, 128, 128, .6);
    border-radius: 8px;
    min-width: 208px;
}

#right-side {
    grid-area: right-side;
    background-color: rgba(240, 128, 128, .6);
    border-radius: 8px;
    box-shadow: 5px 10px rgba(192, 192, 192, .4);
    min-width: 150px;
    max-width: 150px;
}

main {
    grid-area: game;
}

#beer {
    grid-area: game;
    visibility: hidden;
    z-index: 1;
}

#controls {
    grid-area: controls;
    font-size: 10px;
    background-color: rgba(240, 128, 128, .6);
    border-radius: 8px;
    box-shadow: 5px 10px rgba(192, 192, 192, .4);
    text-shadow: 2px 6px rgba(192, 192, 192, .6);
    color: white;
    max-height: 150px;
    min-width: 241px;
}

#directions {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: directions;
    background-color: rgba(240, 128, 128, .6);
    border-radius: 8px;
    box-shadow: 5px 10px rgba(192, 192, 192, .4);
    text-shadow: 2px 6px rgba(192, 192, 192, .6);
    color: white;
    max-height: 150px;
    max-width: 685px;
    min-width: 685px;
}

#you-win {
    grid-area: directions;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#winnergif {
    border-radius: 8px;
}

#game {
    border-radius: 8px;
}