@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 1em;
    background-image: url("./img/shimmering-water.gif");
    /* background: black; */
    background-size: cover;
    background-repeat: space;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

h2 {
    color: white;
    text-decoration: underline;
    font-size: 45px;
    /* background-color: grey; */
}

h3 {
    color: white;
    font-size: 30px;
}

p {
    font-size: 10px;
}

canvas {
    background-image: url("./img/water.gif");
    background-color: black;
    width: 100%;
    height: 100;
}

#container {
    max-width: 80em;
    height: 100%;
    background: transparent;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr, .5fr, .25fr;
    grid-template-columns: .5fr, .25fr, .5fr, .25fr, .5fr;
    grid-template-areas: "left-side top-left top-left top-right right-side" "left-side game game game right-side" "left-side controls directions directions right-side";
}

#top-left,
#top-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#top-left {
    grid-area: top-left;
    background-color: rgba(240, 128, 128, .6);
    border-radius: 8px;
}

#left-side {
    grid-area: left-side;
    background-color: rgba(240, 128, 128, .6);
    border-radius: 8px;
}

#top-right {
    grid-area: top-right;
    background-color: rgba(240, 128, 128, .6);
    border-radius: 8px;
}

#right-side {
    grid-area: right-side;
    background-color: rgba(240, 128, 128, .6);
    border-radius: 8px;
}

main {
    grid-area: game;
}

#beer {
    grid-area: game;
    visibility: hidden;
    z-index: 1;
}

#controls {
    grid-area: controls;
    background-color: rgba(240, 128, 128, .6);
    border-radius: 8px;
}

#directions {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: directions;
    background-color: rgba(240, 128, 128, .6);
    border-radius: 8px;
}

#you-win {
    grid-area: directions;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

#game {
    border-radius: 8px;
}